.pageWrap {
  width: calc(100% - 50px);
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
  width: 380px;
}
.contentArea {
}
/* join */
.join-Box {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  margin-top: 50px;
}
/* 타이틀 영역 */
.title-box {
  margin: 20px 0;
  text-align: center;
}
.title-box .join-title {
  font-family: "Pretendard-Bold";
  font-size: 24px;
  margin-bottom: 15px;
}

/* 정보 입력 영역 */
.info-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* join finish */
.page-wrap {
  height: calc(100vh - 79px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.LoginJoinBtnWrap {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  justify-content: space-between;
}
.LoginJoinBtnWrap:hover {
  border-bottom: 1px solid lightgray;
}

@media (max-width: 480px) {
  .title-box .join-title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  .title-box .join-ment {
    font-size: 13px;
  }
  .info-box {
    gap: 10px;
  }
  .info-box input {
    padding: 18px 24px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: none;
  }
  .info-box button {
    margin-top: 30px;
    height: 60px;
    font-size: 15px;
  }
}

.intro {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: orange;
}
